@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
margin: 0;
font-family:'Red Hat Display', sans-serif;
background-color: #F0F0F0 !important;
background:linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
), url("../assets/images/academy.jpeg");
background-size: 70vw 100vh;
background-repeat: no-repeat;
background-position: -300px;


}

#login-container{
display: flex;
justify-content: space-evenly;
gap: 30px;
margin-top: auto;
align-items: center;


}

#side-login{
width: 50vh;
height: 100vh;

}

#log-info{
padding-left: 30px;
}
#logo img{
width: 300px;
height: 300px;
}

#FMS{
color: #E6E8FD;
font-size: 72px;
margin-bottom: 0;
margin-top: 0;
text-align: center;

}

#academy{
color: #E6E8FD;
font-size: 32px;
margin-top: 0;
text-align: center;
}
#log-button{
background-color:#35558D;
border: none;
width: 406px;
height: 48px;
border-radius: 5px;
margin-top: 50px;
box-shadow: inset 0 -4px 3px rgba(66, 63, 63, 0.23);
color: white;
font-size: 16pt;
}
#log-button:hover{
background-color: #294370;
cursor: pointer;
}
input[type='email']{
background-color: #F0F0F0;
width: 406px;
border: none;
height: 48px;
padding-left: 30px;
box-sizing: border-box;
}

input[type='password']{
background-color: #F0F0F0;
width: 406px;
border: none; 
height: 48px;
padding-left: 30px;
box-sizing: border-box;
}
#login-form1{
width: 470px;
height: 607px;
background-color: white;
border-radius: 8px;
margin-top: 40px;
box-shadow: rgba(0, 0, 0, 0.404);
}
#first-line{
text-align: center;
}
#first-line img{
width: 120px;
height: 120px;
margin-bottom: 0;
}
#first-line h1{
color: #35558D;
font-size: 46px;
margin-top: 0;
margin-bottom: 0;
}
#first-line h3{
color: #35558D;
font-size: 23px;
margin-top: 0;
}
#log-info{
display: flex;
gap: 20px;
flex-direction: column;
justify-content: center;
}
#real-form{
text-align: center;
gap: 20px;
}



#email, #password{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#password{
    margin-top: 10px;
}
a:hover{
    cursor: pointer;
}

