@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  box-sizing: content-box;
}
/* MUJEEB STYLE BEGINS HERE  line 12 - 77*/
/* STYLE FOR NAVIGATION SIDE */
.Navs{  
  display: flex;
   width: 350px;
   flex-direction: column;
   height: 100vh;
   color: #122647;
   background-color: #A2158D;
   gap: 50px;
   align-items: center;
   
 }
 img{
   width: auto;
   height: 150px;
 }
 .Navs p{
   font-size: 16pt;
   align-self: flex-start;
   margin-left: 70px;
 }

 .Navs p:hover{
   cursor: pointer;
   height: 50px;
   color: white;
   background-color: #721063;
   width: 300px;
   text-align: center;
   padding-top: 20px;
   box-shadow: -18px -5px 20px 2px #db20bfa1;
 }
.list{
  list-style: none;
  margin-top: -50px;
  margin-left: 50px;
  display: none;
  color: #32548E;
  width: 70%;
}
ul li{
  font-size: 14pt;
  margin-top: 10px;
}

ul li:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
#search-box{
  height: 50px;
  border: none;
  color: white;
  padding-left: 10px;
  opacity: 40%;
  width: 300px;
  outline: none !important;
}
#search-box:active, #search-box:hover{
  color:black;
  opacity: 100%;
}

/* MUJEEB STYLE ENDS HERE */



/* Funmi code for registration starts here  */
#form-content{
  margin: 40px auto;
  width: 1000px;
  height: 500px;
  
}

input{
  width: 300px;
  height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.774);
  border-top: none;
  border-left: none;
  border-right: none;
}
label{
  display: flex;
}
#teacher-name{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
#line2{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
#line3, #line4, #line5{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#line5{
  margin-top: 40px;
  display: block;
  border: none;
}
input[type="button"]{
  width: 1000px;
  border: none;
  background-color: green;
  color: white;
  font-size: 20pt;
}

input[type="file"]{
  border: none;
}

input[type="button"]:hover{
  background-color: rgb(1, 78, 1);

}
select{
  height: 40px;
  width: 200px;
}